<ion-header color="sas">
  <ion-navbar color="sas">
    <ion-title *ngIf="status_mod==1">Change MOD</ion-title>
    <ion-title *ngIf="status_mod==0">Change Shift</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
		<ion-grid>
			<div class="backgroud-sas-putih">
		  		<form #rescheduleForm="ngForm" (ngSubmit)="storeReschedule(rescheduleForm)">
		  			<ion-row center>
		  				<ion-col col-12>
		  					<ion-item class="backgroud-sas-putih" *ngIf="status_mod==0">
						    	<ion-label floating color="dark">Jenis Izin</ion-label>
						    	<ion-select [(ngModel)]="jenis_izin" name="jenis_izin" color="sas" required>
									<ion-option *ngFor="let izin of list_jenis_izin" [value]="izin.id">{{izin.nama}}</ion-option>
								</ion-select>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						  		<ion-label color="dark">PENGGANTI</ion-label><br>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						  		<ion-label color="sas" (click)="openModalKaryawan(1)" name="nama_tukeran">{{nama_tukeran}}</ion-label>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						  		<ion-label color="dark">HOD/EAM</ion-label><br>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						  		<ion-label color="sas" (click)="openModalKaryawan(2)" name="nama_hod">{{nama_hod}}</ion-label>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						    	<ion-label color="dark">HRD</ion-label><br>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						  		<ion-label color="sas" (click)="openModalKaryawan(4)" name="nama_hrd">{{nama_hrd}}</ion-label>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih">
						    	<ion-label floating color="dark">Tanggal Awal</ion-label>
						    	<ion-input type="text" name="tgl_awal" id="date" class="sas" color="sas" (focus)="openCalendar(1)" readonly [(ngModel)]='tgl_awal' style="color:#000;" required></ion-input>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih">
						    	<ion-label floating color="dark">Tanggal Perubahan</ion-label>
						    	<ion-input type="text" name="tgl_perubahan" id="date" class="sas" color="sas" (focus)="openCalendar(2)" readonly [(ngModel)]='tgl_perubahan' style="color:#000;" required></ion-input>
						  	</ion-item>
						  	<!-- <ion-item class="backgroud-sas-putih" *ngIf="status_mod==0">
						  		<ion-label color="dark" >Shift Awal</ion-label><br>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" *ngIf="status_mod==0">
						  		<ion-label color="sas" (click)="openModalShift(1)" name="nama_shift_awal">{{nama_shift_awal}}</ion-label>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" *ngIf="status_mod==0" >
						  		<ion-label color="dark">Shift Awal</ion-label><br>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" *ngIf="status_mod==0" >
						  		<ion-label color="sas" (click)="openModalShift(2)" name="nama_shift_perubahan">{{nama_shift_perubahan}}</ion-label>
						  	</ion-item> -->
			  			</ion-col>
			  			<ion-col>
			  				<!-- <ion-input type="hidden" [(ngModel)]="shift_perubahan" name="shift_perubahan" hide *ngIf="status_mod==0"></ion-input> -->
			  				<ion-input type="hidden" [(ngModel)]="shift_awal" name="shift_awal" hide *ngIf="status_mod==0"></ion-input>
			  				<ion-input type="hidden" [(ngModel)]="p_karyawan_id_perubahan" name="p_karyawan_id_perubahan" hide ></ion-input>
			  				<ion-input type="hidden" [(ngModel)]="p_karyawan_id" name="p_karyawan_id" hide ></ion-input>
			  				<ion-input type="hidden" [(ngModel)]="appr_1" name="appr_1" hide ></ion-input>
			  				<ion-input type="hidden" [(ngModel)]="appr_2" name="appr_2" hide ></ion-input>
						    <ion-input type="hidden" [(ngModel)]="appr_3" name="appr_3" hide ></ion-input>
			  			</ion-col>
			  			<ion-col col-12 style="margin-top: 20px;padding-left:20px;">
			  				<button type="submit" ion-button full class="backgroud-sas">SUBMIT</button>
			  			</ion-col>
			  		</ion-row>
			  	</form>
		  	</div>
		</ion-grid>
</ion-content>
