<ion-header color="sas">
  <ion-navbar color="sas">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List Izin/Cuti</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event);">
		<ion-refresher-content
		  pullingText="Pull to refresh"
	      pullingIcon="arrow-dropdown"
	      refreshingSpinner="circles"
	      refreshingText="..refresh"
		>
		</ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<div *ngIf="data?.length>=1">
		    <button ion-item *ngFor="let permit of data">
		    	<ion-grid>
		    		<ion-row>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<b>{{permit.jenis_ijin.nama}}</b>
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					Tanggal Pengajuan <b>{{ permit.create_date | date:'yMMMd' }}</b>
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div *ngIf="1 == permit.status_appr_2">
							    <div style="color:green"><b>Status</b> Disetujui</div>
							</div>
		    				<div *ngIf="0 == permit.status_appr_2">
							    <div style="color:red"><b>Status</b> Ditolak</div>
							</div>
							<div *ngIf="3 == permit.status_appr_2">
							    <div><b>Status</b> Proses</div>
							</div>
		    			</ion-col>
		    		</ion-row>
		    	</ion-grid>
		    </button>
		</div>
		<div *ngIf="data?.length==0">
			<h3 text-center>Data Not Found</h3>
		</div>
  	</ion-list>
  	<ion-fab right bottom>
	    <button ion-fab mini (click)="addPermit()"><ion-icon name="add"></ion-icon></button>
	</ion-fab>
</ion-content>
