<ion-header color="sas">
  <ion-navbar color="sas">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List Need Approval</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar (input)="search($event)" placeholder="Search by name"></ion-searchbar>
	<ion-list>
		<div *ngIf="data?.length>=1">
		    <button ion-item *ngFor="let permit of data" (click)="openMenu(permit.t_form_exit_id)">
		    	<ion-grid>
		    		<ion-row>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<b>{{permit.karyawan.nama}}</b>
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap class="font-12">
		    					{{permit.jenis_ijin.nama}}
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap class="font-12">
		    					{{ permit.tgl_pilih }} ({{ permit.lama }} Hari)
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap class="font-12">
		    					{{ permit.keterangan }}
		    				</div>
		    			</ion-col>
		    		</ion-row>
		    	</ion-grid>
		    </button>
		</div>
  	</ion-list>
  	<div *ngIf="data?.length==0">
		<h3 text-center>Data Not Found</h3>
	</div>
</ion-content>

