<ion-header color="sas">
  <ion-navbar color="sas">
    <ion-title>PERMIT</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
		<ion-grid>
			<div class="backgroud-sas-putih">
		  		<form #permitForm="ngForm" (ngSubmit)="storePermit(permitForm)">
		  			<ion-row center>
		  				<ion-col col-12>
		  					<ion-item class="backgroud-sas-putih">
						    	<ion-label floating color="sas">Jenis Izin</ion-label>
						    	<ion-select [(ngModel)]="jenis_izin" (ngModelChange)="changeJenisizin($event)" name="m_jenis_ijin_id" color="sas" required>
									<ion-option *ngFor="let izin of list_izin" [value]="izin.id">{{izin.nama}}</ion-option>
								</ion-select>
						  	</ion-item>
			  				<ion-item class="backgroud-sas-putih">
						    	<ion-label floating color="sas">Tanggal Izin</ion-label>
						    	<ion-input type="text" name="tgl_awal" id="date" class="sas" color="sas" (focus)="openCalendar()" readonly [(ngModel)]='tgl_awal' style="color:#000;" required></ion-input>
						  	</ion-item>
						  	<ion-item *ngIf="show_jam">
								<ion-label floating color="sas">Start Time</ion-label>
								<ion-datetime displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="jam_awal" name="jam_awal" color="sas" required></ion-datetime>
							</ion-item>
							<ion-item *ngIf="show_jam">
								<ion-label floating color="sas">End Time</ion-label>
								<ion-datetime displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="jam_akhir" name="jam_akhir" color="sas" required></ion-datetime>
							</ion-item>
							<ion-item>
							    <ion-label floating color="sas">Keterangan</ion-label>
							    <div item-content style="width:100%;">
							      <ion-textarea autosize [(ngModel)]="keterangan" ngModel name="keterangan" lineHeight="22" color="sas"></ion-textarea>
							    </div>
							</ion-item>
			  			</ion-col>
			  			<ion-col col-12 style="padding-left:20px;">
			  				<ion-label color="sas">Bukti Izin</ion-label>
			  				<ion-thumbnail item-start>
						      <img [src]="cameraUrl" height="150px" *ngIf="cameraUrl">
						    </ion-thumbnail>
							<ion-input type="hidden" [(ngModel)]="cameraUrl" name="foto" hide ></ion-input>
							<ion-input type="hidden" [(ngModel)]="p_karyawan_id" name="p_karyawan_id" hide ></ion-input>
							<ion-row>
								<ion-col col-6>
									<button type="button" ion-button (click)="openCamera()" full class="backgroud-sas">Open Camera</button>	
								</ion-col>
								<ion-col col-6>
									<button type="button" ion-button (click)="selectFromGallery()" full class="backgroud-sas">Open Galery</button>
								</ion-col>
							</ion-row>
			  			</ion-col>
			  			<ion-col col-12>
			  				<ion-item class="backgroud-sas-putih" >
						    	<ion-label floating color="sas">PILIH HOD</ion-label>
						    	<ion-input type="text" required [(ngModel)]="nama_hod" name="nama_hod" (focus)="openModal(1)"></ion-input>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" >
						    	<ion-label floating color="sas">PILIH HRD</ion-label>
						    	<ion-input type="text" required [(ngModel)]="nama_hrd" name="nama_hrd" (focus)="openModal(2)" ></ion-input>
						  	</ion-item>
						  	<ion-item class="backgroud-sas-putih" *ngIf="show_jam" >
						    	<ion-label floating color="sas">Security</ion-label>
						    	<ion-input type="text" required [(ngModel)]="nama_security" name="nama_security" (focus)="openModal(3)" ></ion-input>
						  	</ion-item>
			  			</ion-col>
			  			<ion-col>
			  				<ion-input type="hidden" [(ngModel)]="appr_1" name="appr_1" hide ></ion-input>
			  				<ion-input type="hidden" [(ngModel)]="appr_2" name="appr_2" hide ></ion-input>
						    <ion-input type="hidden" [(ngModel)]="appr_3" name="appr_3" hide ></ion-input>
			  			</ion-col>
			  			<ion-col col-12 style="margin-top: 20px;padding-left:20px;">
			  				<button type="submit" ion-button full class="backgroud-sas">SUBMIT</button>
			  			</ion-col>
			  		</ion-row>
			  	</form>
		  	</div>
		</ion-grid>
</ion-content>
