<ion-header color="sas">
  <ion-navbar no-border-bottom color="sas">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Reschedule
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="schedule">
      <ion-segment-button value="shift" color="white">
        Shift
      </ion-segment-button>
      <ion-segment-button value="mod" color="white">
        MOD
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="schedule">
  	<ion-list *ngSwitchCase="'shift'">
		<div *ngIf="data_reschedule?.length>=1">
		    <button ion-item *ngFor="let res of data_reschedule" >
		    	<ion-grid>
		    		<ion-row>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<b>{{res.jenis_izin}}</b>
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<ion-icon name="calendar">&nbsp; <b>From</b> {{ res.tgl_awal | date:'E,d-MMM-yy' }}-{{ res.awal.nama }} <b>To</b> {{ res.tgl_perubahan | date:'E,d-MMM-yy' }}-{{ res.perubahan.nama }} </ion-icon> 
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div *ngIf="1 == res.status_appr_1">
							    <div style="color:green"><ion-icon name="pricetag">&nbsp; Disetujui</ion-icon></div>
							</div>
		    				<div *ngIf="0 == res.status_appr_1">
							    <div style="color:red"><ion-icon name="pricetag">&nbsp; Ditolak</ion-icon></div>
							</div>
							<div *ngIf="3 == res.status_appr_1">
							    <div><ion-icon name="pricetag">&nbsp; Proses</ion-icon></div>
							</div>
		    			</ion-col>
		    		</ion-row>
		    	</ion-grid>
		    </button>
		</div>
		<div *ngIf="data_reschedule?.length==0">
			<h3 text-center>Change Schedule Not Found</h3>
		</div>
		<ion-fab right bottom>
		    <button ion-fab mini (click)="addReschedule(0)"><ion-icon name="add"></ion-icon></button>
		</ion-fab>
  	</ion-list>
  	

    <ion-list *ngSwitchCase="'mod'">
		<div *ngIf="data_reschedule_mod?.length>=1">
		    <button ion-item *ngFor="let res of data_reschedule_mod" >
		    	<ion-grid>
		    		<ion-row>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<b>{{res.jenis_izin}}</b>
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div text-wrap>
		    					<ion-icon name="calendar">&nbsp; From {{ res.tgl_awal | date:'E,d-MMM-yy' }} To {{ res.tgl_perubahan | date:'E,d-MMM-yy' }} </ion-icon> 
		    				</div>
		    			</ion-col>
		    			<ion-col col-12>
		    				<div *ngIf="1 == res.status_appr_1">
							    <div style="color:green"><ion-icon name="pricetag">&nbsp; Disetujui</ion-icon></div>
							</div>
		    				<div *ngIf="0 == res.status_appr_1">
							    <div style="color:red"><ion-icon name="pricetag">&nbsp; Ditolak</ion-icon></div>
							</div>
							<div *ngIf="3 == res.status_appr_1">
							    <div><ion-icon name="pricetag">&nbsp; Proses</ion-icon></div>
							</div>
		    			</ion-col>
		    		</ion-row>
		    	</ion-grid>
		    </button>
		</div>
		<div *ngIf="data_reschedule_mod?.length==0">
			<h3 text-center>Change MOD Not Found</h3>
		</div>
		<ion-fab right bottom>
		    <button ion-fab mini (click)="addReschedule(1)" ><ion-icon name="add"></ion-icon></button>
		</ion-fab>
  	</ion-list>

  </div>
</ion-content>